{# views/partials/message.twig #}
{% if message is defined %}
    <div id="toast-message"
         class="mb-4 p-4 rounded-lg font-bold text-white text-center bg-orange-400/80 backdrop-blur-lg border border-orange-400 mx-auto mt-4">
        {{ message }}
    </div>
{% endif %}