@import "tailwindcss";

@theme {

    --color-primary-50: oklch(97.5% 0.05 49.2);
    --color-primary-100: oklch(95.5% 0.08 63.9);
    --color-primary-200: oklch(91.5% 0.13 73.6);
    --color-primary-300: oklch(84.5% 0.19 75.9);
    --color-primary-400: oklch(76.5% 0.27 70.4);
    --color-primary-500: oklch(68.5% 0.36 62.7);
    --color-primary-600: oklch(60.5% 0.41 54.5);
    --color-primary-700: oklch(52.5% 0.45 44.2);
    --color-primary-800: oklch(44.5% 0.45 36.9);
    --color-primary-900: oklch(36.5% 0.43 29.1);
    --color-primary-950: oklch(30.5% 0.40 23.7);

    --font-sans: "Inter", sans-serif;

    --animate-fade-in: fadeIn 0.5s ease-in-out;
    --animate-slide-up: slideUp 0.5s ease-in-out;
}

