<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Profile Picture</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
</head>
<body class="bg-gray-900 flex items-center justify-center min-h-screen">

    <div class="bg-gradient-to-b from-gray-800 to-black p-6 rounded-xl shadow-lg max-w-md w-full">
        <h3 class="text-3xl font-semibold text-blue-400 mb-4 text-center font-poppins">Change Profile Picture</h3>

        <form action="/update-profile-image" method="POST" enctype="multipart/form-data">
            <!-- Champ de téléchargement de l'image -->
            <div class="mb-4">
                <label for="profile-image" class="block text-gray-400 font-medium mb-2 font-poppins">Choose an image</label>
                <input type="file" name="profile-image" id="profile-image" 
                    class="w-full py-2 px-3 border border-gray-600 bg-gray-900 text-gray-100 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-700" 
                    accept="image/*" required>
            </div>

            <!-- Boutons de soumission -->
            <div class="flex justify-end space-x-2">
                <button type="button" id="close-modal" 
                    class="bg-gray-600 hover:bg-gray-700 text-white py-2 px-4 rounded-lg transition duration-300 font-poppins text-lg">
                    Close
                </button>
                <button type="submit" 
                    class="bg-blue-900 hover:bg-blue-800 text-white py-2 px-4 rounded-lg transition duration-300 font-poppins text-lg">
                    Save
                </button>
            </div>
        </form>
    </div>

</body>
</html>
